@model InventarioSuperModelos.ViewModels.ProductoVM;
@{
    ViewData["Title"] = "Crear Producto";
}

<br />
<br />
<h3 class="text-center">Crear un nuevo producto</h3>
<br />


<form asp-action="Crear" method="POST" style="margin-bottom: 3rem" enctype="multipart/form-data">
    <div class="row px-2 offset-1 border bg-light">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row g-3 mt-4 ps-4">

            <div class="col-md-6">
                <div class="col-auto">
                    <label asp-for="_Producto.Nombre"></label>
                </div>
                <div class="col-auto">
                    <input asp-for="_Producto.Nombre" type="text" class="form-control" placeholder="Ingresa el nombre del producto" />
                    <span asp-validation-for="_Producto.Nombre" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="col-md-6">
                <div class="col-auto">
                    <label asp-for="_Producto.CategoriaId"></label>
                </div>
                <div class="col-auto">
                    @Html.DropDownListFor(m => m._Producto.CategoriaId, Model.ListaCategoria, "Seleccione la categoría ", new { @class = "form-control" })
                    <span asp-validation-for="_Producto.CategoriaId" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="col-md-4 g-3">
                <div class="col-auto">
                    <label asp-for="_Producto.PrecioCompra"></label>
                </div>
                <div class="col-auto">
                    <input asp-for="_Producto.PrecioCompra" type="number" class="form-control " step="0.01" placeholder="Ingresa el precio de compra 0.00" />
                    <span asp-validation-for="_Producto.PrecioCompra" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="col-md-4 g-3">
                <div class="col-auto">
                    <label asp-for="_Producto.Precio"></label>
                </div>
                <div class="col-auto">
                    <input asp-for="_Producto.Precio" type="number" class="form-control " step="0.01" placeholder="Ingresa el precio de venta 0.00" />
                    <span asp-validation-for="_Producto.Precio" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="col-md-4 g-3">
                <div class="col-auto">
                    <label asp-for="_Producto.Cantidad"></label>
                </div>
                <div class="col-auto">
                    <input asp-for="_Producto.Cantidad" type="number"  class="form-control " placeholder="Ingresa la cantidad comprada" />
                    <span asp-validation-for="_Producto.Cantidad" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="col-md-7 g-3">
                <div class="col-auto">
                    <label asp-for="_Producto.Descripcion"></label>
                </div>
                <div class="col-auto">
                    <textarea asp-for="_Producto.Descripcion" class="form-control"  placeholder="Ingresa una descripción " id="floatingTextarea"></textarea>
                    
                    <span asp-validation-for="_Producto.Descripcion" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="col-md-5 g-3">
                <div class="col-auto">
                    <label asp-for="_Producto.url"></label>
                </div>
                <div class="col-auto">
                    <input type="file" name="foto" class="form-control" accept="image/*" />
                    <span asp-validation-for="_Producto.url" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="col-md-12 d-flex justify-content-center mt-4 mb-5">
                <div class="col-8">
                    <partial name="_VistaCrear"></partial>
                </div>
            </div>
            
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.9.1/tinymce.min.js" integrity="sha512-09JpfVm/UE1F4k8kcVUooRJAxVMSfw/NIslGlWE/FGXb2uRO1Nt4BXAJ3LxPqNbO3Hccdu46qaBPp9wVpWAVhA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/EditorTinyMce.js"></script>
}
