@{
    ViewData["Title"] = "Editar Categoría";
}

@model InventarioSuperModelos.Categoria;


<br />
<br />
<h3 class="text-center">Editar categoría @Model.Nombre</h3>

<form asp-action="Editar" method="POST">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label asp-for="Nombre"></label>
                </div>
                <div class="col-auto">
                    <input asp-for="Nombre" type="text" class="form-control" placeholder="Ingresa el nombre" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label asp-for="Orden"></label>
                </div>
                <div class="col-auto">
                    <input asp-for="Orden" type="number" class="form-control" placeholder="Ingresa el orden" />
                    <span asp-validation-for="Orden" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row g-3 align-items-center col-8">
                <div class="col">
                    <button type="submit" class="btn btn-dark form-control"><i class="fa-solid fa-pencil"></i> EDITAR CATEGORÍA</button>
                </div>
                &nbsp;
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg> VOLVER ATRAS</a>
                </div>
            </div>

        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}